header {
  background-color: rgb(24, 138, 132);
  padding: 20px;
  width: -webkit-fill-available;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  font-family: 'Bangers', cursive;
  letter-spacing: 3px;
}

body {
  background-color:white;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.items {
  margin-top: 10px;
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
}

.item {
  border: 1px solid black;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 10px;
  width: 200px;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__image {
  width: 100%;
}

.item .item__add {
  background-color:  rgb(252, 227, 196);
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
  margin: 2px;
  padding: 5px;
}

.cart {
  display: flex;
  flex-basis: 30%;
  flex-flow: column wrap;
  margin-top: 15px;
}

.empty-cart {
  border-radius: 20px;
  border-style: none;
  border: 1px solid  black;
  padding: 10px;
  font-size: 15px;
  font-weight: bolder;
  background-color: rgb(252, 227, 196);
}
